<!DOCTYPE html>
<html>
<head>
    <%- include("book/header_nav") %>
</head>
<body>
    <form method="POST">
        <input type="hidden" name="_id" value="<%= book._id %>">
        <div>
            <label>제목</label>
            <input id="bTitle" name="bTitle" value="<%= book.bTitle %>">
        </div>
        <div>
            <label>저자</label>
            <input id="bWriter" name="bWriter" value="<%= book.bWriter %>">
        </div>
        <div>
            <label>출판사</label>
            <input id="bComp" name="bComp" value="<%= book.bComp %>">
        </div>
        <div>
            <label>가격</label>
            <input id="bPrice" name="bPrice" value="<%= book.bPrice %>">
        </div>

        <div>
            <button>저장</button>
        </div>
    </form>
</body>
</html>