<!DOCTYPE html>
<html>
<head>
    <%- include("/bizwork/workspace/nodeworks/Node_08/views/include_head") %>
    <style>
        table.tb-view {
            background-color: #E9ECEF
        }

        table.tb-view th {
            background-color: #E9ECEF;
            text-align: right;
        }

        table.tb-view td {
            background-color: white;
        }
    </style>
    <script>
        $(function() {
            $("button").click(function() {
                if($(this).hasClass("btn-delete")) {
                    if(confirm("삭제할까요?")) {
                        document.location.replace("/bbs/delete/<%- bbs.b_id %>")
                    }
                } else if ($(this).hasClass("btn-update")) {
                    document.location.href = "/bbs/update/<%- bbs.b_id %>"
                } else if ($(this).hasClass("btn-list")) {
                    document.location.href = "/bbs/list"
                }
            })
        })
    </script>
</head>
<body>
    <%- include("/bizwork/workspace/nodeworks/Node_08/views/include_header") %>
    <section class="container-fluid">
        <table class="w3-table-all tb-view">
            <tr>
                <th>작성일자</th><td><%- bbs.b_date %></td>
                <th>작성시각</th><td><%- bbs.b_time %></td>
                <th>작성자</th><td><%- bbs.b_writer %></td>
                <th>조회수</th><td><%- bbs.b_count %></td>
            </tr>
            <tr>
                <th>제목</th><td colspan="7"><%- bbs.b_subject %></td>
            </tr>
            <tr>
                <td colspan="8"><%- bbs.b_text %></td>
            </tr>
        </table>
    </section>
    <section>
        <button class="w3-button w3-right w3-blue btn-update">수정</button>
        <button class="w3-button w3-right w3-red btn-delete">삭제</button>
        <button class="w3-button w3-right w3-green btn-list">목록</button>
    </section>
</body>
</html>